<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>사원 정보 조회</title>
</head>
<body>
	<div>
		<div>
			<label for="eid">사원번호</label>
			<input type="text" id="eid" name="" th:value="${empInfo.employeeId}" readonly>
		</div>
		<div>
			<label for="ename">이름</label>
			<input type="text" id="ename" name="" th:value="${empInfo.lastName}" readonly>
		</div>
		<div>
			<label for="email">이메일</label>
			<input type="text" id="email" name="" th:value="${empInfo.email}" readonly>
		</div>
		<div>
			<label for="hDate">입사일</label>
			<input type="date" id="hDate" name="" th:value="${#dates.format(empInfo.hireDate, 'yyyy-MM-dd')}" readonly>
		</div>
		<div>
			<label for="job">업무</label>
			<input type="text" id="job" name="" th:value="${empInfo.jobId}" readonly>
		</div>
		<div>
			<button type="button" th:onclick="|location.href='@{empList}'|" th:text="|목록|"></button>
		</div>
	</div>
</body>
</html>